#app.is_running {
	#dictionary {
		opacity: 0;
		pointer-events: none;
	}
}

#dictionary {
	align-items: stretch;
	background-color: rgba(#006, 0.4);
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
	justify-content: space-between;
	padding: 10rem 4rem;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateX(38rem);
	transition: transform 0.6s;
	width: 40rem;
	z-index: 100;

	&.open {
		transform: translateX(0);

		.btn_open {
			background-color: rgba(#006, 0.4);

			img {
				opacity: 1;
			}
		}
	}

	.btn_open {
		align-items: center;
		background-color: rgba(#000, 0.2);
		border: 0 none;
		border-radius: 2rem 0 0 2rem;
		display: flex;
		height: 12rem;
		justify-content: center;
		left: 0;
		position: absolute;
		top: 20%;
		transform: translateX(-100%);
		transition: background-color 0.3s, box-shadow 0.3s;
		width: 5rem;

		img {
			height: 24px;
			object-fit: contain;
			opacity: 0.6;
			transition: opacity 0.3s;
			width: 24px;
		}
	}

	form {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}

	.input_word {
		-webkit-appearance: button;
		appearance: button;
		background-color: transparent;
		border: 0 none;
		border-bottom: 2px solid #FFF;
		border-radius: 0;
		box-shadow: 0 !important;
		color: #FFF;
		display: inline-block;
		flex: 0 0 calc(100% - 8rem);
		font-size: 3rem;
		font-weight: bold;
		height: 6rem;
		line-height: 120%;
		margin: 0 2rem 0 0;
		max-width: calc(100% - 8rem);
		outline: none !important;
		padding: 5px;
		transition: border-color 0.6s, color 0.6s;
	}

	.btn_search {
		background-color: #005;
		border: 0 none;
		border-radius: 1rem;
		color: #FFF;
		display: inline-block;
		flex: 1 1 6rem;
		font-size: 2rem;
		font-weight: bold;
		height: 6rem;
		line-height: 120%;
		margin: 0;
		padding: 1.4rem;
		transition: background-color 0.6s;
		width: 6rem;


		img {
			max-height: 100%;
			max-width: 100%;
		}
	}

	.definitions {
		display: inline-block;
		height: 75vmin;
		max-height: 75vmin;
		overflow-y: scroll;

		&.not_found {
			color: #F00;
			font-family: Arial Black, Arial, Helvetica, sans-serif;
			font-size: 2rem;
			font-weight: bold;
		}
	}

	.def {
		color: rgba(#FFF, 0.6);
		margin-bottom: 3rem;

		.row {
			display: inline-block;
			margin-bottom: 1rem;
			width: 100%;
		}

		.word {
			color: #FFF;
			display: inline;
			font-family: Arial Black, Arial, Helvetica, sans-serif;
			font-size: 1.8rem;
			font-weight: bold;
		}

		.type {
			display: inline;
			font-size: 1.6rem;
		}

		.shortdef {
			display: inline-block;
			font-size: 1.4rem;
			margin-bottom: 1rem;
			width: 100%;
		}
	}

	&.valid {
		.input_word {
			border-color: #0A0;
			color: #0A0;
		}

		.btn_search {
			background-color: #0A0;
		}
	}

	&.invalid {
		.input_word {
			border-color: #F00;
			color: #F00;
		}

		.btn_search {
			background-color: #F00;
		}
	}
}
