@mixin animPositionStart($p) {
	@if $p==1 {
		transform: rotate3d(0, 1, 0, 150deg);
	}

	@else if $p==2 {
		transform: rotate3d(0, 1, 1, 150deg);
	}

	@else if $p==3 {
		transform: rotate3d(1, 0, 0, 150deg);
	}

	@else if $p==4 {
		transform: rotate3d(1, 0, 1, 150deg);
	}

	@else if $p==5 {
		transform: rotate3d(1, 1, 0, 150deg);
	}

	@else if $p==6 {
		transform: rotate3d(1, 1, 1, 150deg);
	}
}

@mixin animPositionEnd($p) {
	transform: rotate3d(0, 0, 1, #{$p * 90}deg);
}

@for $start from 1 through 10 {
	@for $end from 1 through 4 {
		@keyframes animDiceRoll_#{$start}_#{$end} {
			0% {
				@include animPositionStart($start);
			}

			100% {
				@include animPositionEnd($end);
			}
		}
	}
}

.die {
	@for $start from 1 through 10 {
		@for $end from 1 through 4 {
			&.anim_#{$start}_#{$end} {
				animation: animDiceRoll_#{$start}_#{$end} 2s ease-out 0s 1 forwards;
			}
		}
	}

	align-items: center;
	box-sizing: border-box;
	display: flex;
	height: 10rem;
	justify-content: center;
	opacity: 1;
	pointer-events: none;
	position: absolute;
	transition: transform 2s ease-out;
	user-select: none;
	width: 10vmin;
	transform-style: preserve-3d;
	will-change: transform;

	&.no_anim {
		transition: none;
	}

	.face {
		align-items: center;
		background-color: #EEE;
		background-color: #F00;
		border: 3px solid #F8F8F8;
		border-radius: 0.8rem;
		box-sizing: border-box;
		color: #118;
		display: flex;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bolder;
		justify-content: center;
		left: 0;
		padding-right: 3px;
		padding-top: 3px;
		position: absolute;
		text-transform: capitalize;
		top: 0;
		user-select: none;

		&.doubleLetter {
			font-family: Arial Narrow, Arial, Helvetica, sans-serif;
		}

		&.front {

			&.n,
			&.z {
				padding-bottom: 8px;
				text-decoration: underline;
			}
		}
	}
}
