@media screen and (min-width:1025px) {
	#app {
		overflow: hidden;
	}

	#timer {
		padding-top: 4rem;
	}

	#dictionary {
		transform: translateX(40rem);

		.btn_open {
			&:hover {
				background-color: rgba(#006, 0.4);

				img {
					opacity: 1;
				}
			}
		}
	}

	button {
		cursor: pointer;
	}
}
