@keyframes sand_drop {
	0% {
		top: calc(0% - 4px);
	}

	100% {
		top: calc(100% - 4px);
	}
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}

#timer {
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
	margin: 0 auto;
	width: 100%;

	#view_options {
		border: 3px solid #DDD;
		border-radius: 10px;
		display: flex;
		flex-flow: row nowrap;
		margin-bottom: 20px;
		overflow: hidden;
		width: 100%;

		button {
			background-color: #DDD;
			border: 0 none;
			border-radius: 0;
			box-shadow: 0px 0px 1rem inset #888;
			cursor: pointer;
			flex: 0 0 50%;
			font-size: 4rem;
			height: 6rem;
			max-width: 50%;
			padding: 5px;
			transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;

			&:disabled {
				background-color: #555;
				box-shadow: 0px 0px 1rem inset #222;
				color: #FFF;
			}
		}
	}

	#view_timer {
		opacity: 0;
		transition: opacity 0.3s;

		#time {
			align-items: center;
			display: flex;
			flex-flow: row nowrap;
			font-family: "Arial Black", Arial, Helvetica, sans-serif;
			font-weight: bold;
			justify-content: center;

			.number {
				align-items: center;
				display: flex;
				flex-flow: row nowrap;
				font-size: 8rem;
				justify-content: center;
			}

			#minutes {}

			#seconds {}

			.colon {
				align-items: center;
				display: flex;
				flex-flow: row nowrap;
				font-size: 8vmin;
				justify-content: center;
			}
		}

		&.visible {
			opacity: 1;
		}
	}

	#view_hourglass {
		align-items: stretch;
		display: flex;
		flex-flow: column nowrap;
		height: 40vh;
		justify-content: center;
		position: relative;
		width: 10vw;

		.socle {
			background: linear-gradient(to bottom right, #B80 0%, #FF0 40%, #DD0 50%, #DD0 70%, #ED0 80%, #DA0 90%);
			border: 1px solid #AA5;
			height: 2vh;
			left: -2px;
			position: relative;
			width: calc(100% + 4px);
		}

		.container {
			align-items: stretch;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-end;
			overflow: hidden;
			position: relative;

			.reflection {
				background-color: #FFF;
				border-radius: 10px;
				display: inline-block;
				display: none;
				height: 15vmin;
				position: absolute;
				right: 20%;
				width: 0;
				width: 20px;
				z-index: 100;
				filter: blur(4px);
			}
		}

		#hourglass_top {
			background: linear-gradient(to bottom right, #AAA 0%, #F8F8F8 100%);
			height: 50%;
			z-index: 1;

			.reflection {
				background: linear-gradient(to top right, transparent 0%, #F8F8F8 100%);
				bottom: 10%;
				transform: rotate(42deg);
			}
		}

		#hourglass_bottom {
			background: linear-gradient(to top left, #AAA 0%, #F8F8F8 100%);
			height: 50%;
			z-index: 1;

			.reflection {
				background: linear-gradient(to top right, transparent 0%, #F8F8F8 100%);
				top: 10%;
				transform: rotate(-42deg);
			}

			#grain {
				background-color: #000;
				border-radius: 50%;
				height: 4px;
				left: calc(50% - 2px);
				position: absolute;
				top: -4px;
				visibility: visible;
				width: 4px;

				&.is_running {
					animation-duration: 0.2s;
					animation-iteration-count: infinite;
					animation-name: sand_drop;
					animation-timing-function: ease-in;
					animation-fill-mode: forwards;
				}
			}
		}

		.hide {
			$hideSize: 5vw;
			background-color: transparent;
			border: $hideSize solid #FFF;
			border-width: $hideSize+0.5 calc(#{$hideSize});
			height: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 0;
			z-index: 10;

			&.left {
				border-color: transparent transparent transparent #FFF;
				border-right-width: 0;
				left: -2px;
			}

			&.right {
				border-color: transparent #FFF transparent transparent;
				border-left-width: 0;
				right: -2px;
			}
		}

		.sand {
			background-color: #000;

			&#top_sand {}

			&#bottom_sand {}
		}

		&.blink #hourglass_bottom #grain.is_running {
			animation-name: none;
			visibility: hidden;
		}
	}

	.blink {
		animation-duration: 0.8s;
		animation-iteration-count: infinite;
		animation-name: blink;
		animation-timing-function: linear;
		opacity: 1;
	}
}
